@import (css) url('https://fonts.googleapis.com/css?family=Mitr');

body {
    margin: 0;
    font-family: 'Mitr', sans-serif;
}
.posts {
    .home {
        height: -webkit-fill-available;
        background-color: #efefef;
        .head {
            display: flex;
            flex-direction: row;
            .name-post {
                width: 88%;
            }
            .back-home {
                width: 12%;
                .ant-btn {
                    width: 100%;
                    height: 59%;
                    background-color: #1890ff;
                    border: none;
                    font-family: 'Mitr', sans-serif;
                    font-size: 15px;
                    color: #fff;
                    border-radius: 6px;
                    margin-top: 11%;
                }
            }
        }
        .content {
            .all-post {
                display: flex;
                flex-direction: row;
                .icon-message {
                    width: 3.5%;
                    padding: 0.7% 0;
                }
                .post-name {
                    width: 97.5%;
                }
            }
            .ant-btn {
                background-color: transparent;
                border: transparent;
                font-family: 'Mitr', sans-serif;
                font-size: 19px;
            }
        }
    }
    .add-post {
        height: -webkit-fill-available;
        background-color: #efefef;
        .head {
            display: flex;
            flex-direction: row;
            .name-post {
                width: 88%;
            }
            .back-home {
                width: 12%;
                .ant-btn {
                    width: 100%;
                    height: 59%;
                    background-color: #1890ff;
                    border: none;
                    font-family: 'Mitr', sans-serif;
                    font-size: 15px;
                    color: #fff;
                    border-radius: 6px;
                    margin-top: 11%;
                }
            }
        }
        .message {
            border: 1px solid #cccaca;
            border-radius: 5px;
            margin-top: 2%;
            padding: 1% 3%;
            // background-color: #222244;
            .text-answer {
                div {
                    margin: 4% 0;
                }
            }
            .name-answer, .opinion-on {
                p {
                    color: #887d7d;
                    font-size: 13px;
                }
            }
            .input-name, .input-answer, .input-name-post {
                display: flex;
                flex-direction: row;
                margin-bottom: 0.5%;
                .text {
                    width: 10%;
                }
                .input-name, .input-message {
                    width: 90%;
                    .ant-input {
                        border-radius: 5px;
                        border: 1px solid #ccc;
                        font-family: 'Mitr', sans-serif;
                        font-size: 16px;
                    }
                }
                .input-message {
                    textarea  {
                        width: 99%;
                        height: 90px;
                        border: 1px solid #ccc;
                        border-radius: 5px;
                        font-family: 'Mitr', sans-serif;
                        font-size: 16px;
                    }
                }
            }
            .send-message-button {
                text-align: right;
                .ant-btn {
                    width: 15%;
                    height: 35px;
                    background-color: #52c41a;
                    border: none;
                    font-family: 'Mitr', sans-serif;
                    font-size: 15px;
                    color: #fff;
                    border-radius: 6px;
                }
            }
        }

    }
    .post {
        .content-post {
            .head {
                display: flex;
                flex-direction: row;
                .name-post {
                    width: 88%;
                    display: flex;
                    flex-direction: row;
                    .icon-message {
                        width: 7%;
                        i {
                            font-size: 39px;
                        }
                    }
                    .name {
                        width: 87%;
                    }
                }
                .back-home {
                    width: 12%;
                    .ant-btn {
                        width: 100%;
                        height: 32px;
                        background-color: #1890ff;
                        border: none;
                        font-family: 'Mitr', sans-serif;
                        font-size: 15px;
                        color: #fff;
                        border-radius: 6px;
                        margin-top: 11%;
                    }
                }
            }
            .content, .message-post {
                .box-content {
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    padding: 1% 2.5%;
                    // background-color: #193366;
                    .thread-owner {
                        p {
                            margin-top: 9%;
                            color: #887d7d;
                            font-size: 13px;
                        }
                    }
                }
                .opinion {
                    margin-top: 5%;
                    .opinion-text {
                        position: absolute;
                        margin-top: -2.7%;
                        background-color: #fff;
                        width: 11%;
                        text-align: center;
                        margin-left: 2%;
                    }
                }
                .message-post {
                    .opinion-text {
                        width: 16%;
                    }
                    .message {
                        border: 1px solid #cccaca;
                        border-radius: 5px;
                        margin-top: 2%;
                        padding: 1% 3%;
                        // background-color: #222244;
                        .text-answer {
                            div {
                                margin: 4% 0;
                            }
                        }
                        .name-answer, .opinion-on {
                            p {
                                color: #887d7d;
                                font-size: 13px;
                            }
                        }
                        .input-name, .input-answer {
                            display: flex;
                            flex-direction: row;
                            margin-bottom: 0.5%;
                            .text {
                                width: 10%;
                            }
                            .input-name, .input-message {
                                width: 90%;
                                .ant-input {
                                    border-radius: 5px;
                                    border: 1px solid #ccc;
                                    font-family: 'Mitr', sans-serif;
                                    font-size: 16px;
                                }
                            }
                            .input-message {
                                textarea  {
                                    width: 99%;
                                    height: 90px;
                                    border: 1px solid #ccc;
                                    border-radius: 5px;
                                    font-family: 'Mitr', sans-serif;
                                    font-size: 16px;
                                }
                            }
                        }
                        .send-message-button {
                            text-align: right;
                            .ant-btn {
                                width: 15%;
                                height: 35px;
                                background-color: #52c41a;
                                border: none;
                                font-family: 'Mitr', sans-serif;
                                font-size: 15px;
                                color: #fff;
                                border-radius: 6px;
                            }
                        }
                    }
                }
            }
        }
    }
}

hr {
    border: 0.5px solid #cccaca;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 500;
    color: #333030;
}

p {
    margin: 1% 0;
}