.layout {
    width: 100%;
    padding-top: 5%;
    background-color: #efefef;
    .card {
        width: 90%;
        margin: 0 auto;
        background-color: #fff;
        box-shadow: 2px 2px 3px #e0dddd;
        border-radius: 7px;
        padding: 2%;
    }
}